# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com/>
#
# SPDX-License-Identifier: CC0-1.0

Sphinx
sphinx-design
sphinx_rtd_theme
sphinx-book-theme
sphinx_copybutton
sphinxcontrib-email
docutils
