<!--
SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com/>

SPDX-License-Identifier: CC-BY-NC-SA-4.0
-->

{% extends "!layout.html" %}

{% block sidebartitle %}
<a href="{{ pathto(master_doc) }}"><img src="{{ logo_url }}" class="logo" alt="{{ _('Logo') }}"/>
  <p> {{ project }} <br>
    {{ release}}
  </p>
</a>
   
{% include "searchbox.html" %}

{% endblock %}

{% block navigation %}
<div class="centered">
  <a class="hublink btn btn-link" href="{{ hubhome }}">
    <span class="icon fa-home">
      Back to Zextras<br> Documentation Hub</span>
  </a>
</div>
{{ super() }}

{% endblock %}
