/*
 * SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com/>
 *
 * SPDX-License-Identifier: CC-BY-NC-SA-4.0
 */

@import url("common.css");

.wy-nav-side p.caption {
    color: var(--zx-color-flame);
}
/* Sidebar header (and topbar for mobile) */
.wy-side-nav-search, .wy-nav-top {
    background-image:
        linear-gradient(to right,
                        var(--zx-color-magma),
                        var(--zx-color-flame));
}
/* Sidebar */
.wy-nav-side {
    background: var(--zx-color-carbon);
}

.wy-side-nav-search > a > p {
    font-size: 120%;
}

/* card with magma border&background*/
.card-magma {
    border:  1px solid var(--zx-color-magma);
    background-color: #ff9c9c;
}

.zxbrand {
    background: -webkit-gradient(linear, left top, right top, from(rgba(229,26,26,1)), color-stop(26%, rgba(230,32,25,1)), color-stop(64%, rgba(253,131,11,1)), to(rgba(253,131,11,1)));
    background: linear-gradient(90deg, rgba(229,26,26,1) 0%, rgba(230,32,25,1) 26%, rgba(253,131,11,1) 64%, rgba(253,131,11,1) 100%); 
    height: 8px;
    margin: 0;
}
