/* This file contains CSS styles shared by all Zextras products - (C)
   2021 Zextras */
:root {
    --zx-color-magma: #E51A1A;
    --zx-color-carbon: #182126;
    --zx-color-flame: #FD830B;
    --zx-color-spark: #F4C64C;
    --zx-color-ice: #CBDDE4;
    --zx-color-pebble: #F5F5F5;
    --zx-color-snow: #FFFFFF;
    --zx-color-abyss: #00506D;;
    --zx-color-card-footer: #E8E8E8;
    --zx-color-card-header: #E8E8E8;

}

/* Custom roles */

.red {
    color: red;
}

.green {
    color: green;
}

/* Width of the text content */
.wy-nav-content {
    max-width: inherit;
}

/* Width of logo on the upper left corner */
.wy-side-nav-search .wy-dropdown>a img.logo, .wy-side-nav-search>a img.logo {
    width:300px
}

/* topic:: directive */
.rst-content .topic-title {
 font-weight:bold;
 margin-bottom:12px;
 left-border: 2px solid
}

.topic {
    width: 75%;
    min-width: 200px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid;
    border-image: linear-gradient(to right,
                        var(--zx-color-magma),
                        var(--zx-color-flame)) 1;
}


/* search box with ZX radius*/
.wy-side-nav-search input[type="text"] {
 width:100%;
 border-radius: 0.3rem;
 padding:6px 12px;
 border-color:#2472a4
}

/* Simple class to display Zextras logo */
.zxlogo {
    background-image: url("logo_zextras.png");
    display: inline-block;
    height: 30px;
    width: 170px;
    margin-bottom: 0px
}

/* Force Lato fonts on all document */
.rst-content .toctree-wrapper>p.caption,
h1,
h2,
h3,
h4,
h5,
h6,
legend {
    margin-top:0;
    font-weight:700;
    font-family:Lato,proxima-nova,Helvetica Neue,Arial,sans-serif
}

.rst-content .sidebar .sidebar-title {
 display:block;
 font-family:Lato,proxima-nova,Helvetica Neue,Arial,sans-serif
 font-weight:700;
 background:#e1e4e5;
 padding:6px 12px;
 margin:-24px -24px 24px;
 font-size:100%
}

/* link color */
.std-ref, .std-numref, .doc, .reference.external {
    color: var(--zx-color-magma)
}


.std-ref:hover, .std-numref:hover, .doc:hover, .reference.external:hover {
    text-decoration: underline;
}

.icon, .icon:visited {
    color: white;
}

.irisfont {
    font-family: "Roboto", Arial, sans-serif
}

/* Custom colors for admonitions -- taken from Carbonio's UI colors */

/* success UI */
.rst-content .hint {
    background-color: #8bc34a
}

.rst-content .hint .admonition-title {
    background-color: #639030
}

/* info UI */
.rst-content .note {
    background-color: #2196d3
}

.rst-content .note .admonition-title {
    background-color: #176691
}


/* warning UI */
.rst-content .warning {
    background-color: #ffc107
}

.rst-content .warning .admonition-title {
    background-color: #ba8b00
}
