/* This file contains CSS styles shared by all Zextras products - (C)
   2021 Zextras */
:root {
    --zx-color-magma: #E51A1A;
    --zx-color-carbon: #182126;
    --zx-color-flame: #FD830B;
    --zx-color-spark: #F4C64C;
    --zx-color-ice: #CBDDE4;
    --zx-color-pebble: #F5F5F5;
    --zx-color-snow: #FFFFFF;
    --zx-color-abyss: #00506D;;
    --zx-color-card-footer: #E8E8E8;
    --zx-color-card-header: #E8E8E8;

}

/* Custom roles */

.red {
    color: red;
}

.green {
    color: green;
}

/* Width of the text content */
.wy-nav-content {
    max-width: inherit;
}

/* Width of logo on the upper left corner */
.wy-side-nav-search .wy-dropdown>a img.logo, .wy-side-nav-search>a img.logo {
    width:300px
}

.rst-content .topic-title {
 font-weight:bold;
 margin-bottom:12px;
 left-border: 2px solid
}

.topic {
    width: 75%;
    min-width: 200px;
    padding: 5px;
    margin: 15px
}

.sd-dropdown .sd-card-header {
    background-color: var(--zx-color-card-header);

}
/* search box with ZX radius*/
.wy-side-nav-search input[type="text"] {
 width:100%;
 border-radius: 0.3rem;
 padding:6px 12px;
 border-color:#2472a4
}

/* layout for footer and related classes borrowed from zextras' web
   page*/
footer {
    background-color: black;
    color:white;
    padding: 1.618em 3.236em;
}
.zxlogo {
    background-image: url("logo_zextras.png");
    display: inline-block;
    height: 30px;
    width: 170px;
}
.d-flex {
    display: flex !important;
}
.row {
    flex-wrap: wrap;
}
.list-inline-item {
    display: inline-block;
    margin-right: .5rem;
    width: 36.15385px;
    height: 36.15385px;
}

/* Force Lato fonts on all document */
.rst-content .toctree-wrapper>p.caption,
h1,
h2,
h3,
h4,
h5,
h6,
legend {
    margin-top:0;
    font-weight:700;
    font-family:Lato,proxima-nova,Helvetica Neue,Arial,sans-serif
}

.rst-content .sidebar .sidebar-title {
 display:block;
 font-family:Lato,proxima-nova,Helvetica Neue,Arial,sans-serif
 font-weight:700;
 background:#e1e4e5;
 padding:6px 12px;
 margin:-24px -24px 24px;
 font-size:100%
}

/* link color */
.std-ref, .std-numref, .doc, .reference.external {
    color: var(--zx-color-magma)
}
