<!--
SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com/>

SPDX-License-Identifier: CC-BY-NC-SA-4.0
-->

{% extends "!layout.html" %}
{% block menu %}
  {{ super() }}
<hr />
<ul>
  <li class="toctree-l1">
    <a class="icon icon-home" href="../../landing/zextras_documentation.html"> Back to
      Zextras Documentation hub
    </a>
  </li>
</ul>
{% endblock %}
{% block sidebartitle %}
<a href="{{ pathto(master_doc) }}"><img src="{{ logo_url }}" class="logo" alt="{{ _('Logo') }}"/>
  <p> {{ project }}</p>
</a>
   
{% include "searchbox.html" %}
{% endblock %}
  
