{%- extends "basic/layout.html" %}
{%- block css %}
    {{ super() }}
{%- endblock %}
{%- block scripts %}
    {{ super() }}
{%- endblock %}
{# do not display relbars #}
{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}
{% block content %}
<div id="content">
  <div class="header">
  </div>
  <div class="wy-nav-content">
    <div role="main">
      {% block body %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
{% include "footer.html" %}
{% endblock %}
